.blog_area_section{
    width: 100%;
    .main_section{
        width: 100%;        
        padding: 0 100px;
        margin-bottom: 20px;
        .owl-item{
            padding: 15px;
        }
        .blog_item{
            width: 100%;
            border-radius: 20px;
            overflow: hidden;
            box-shadow: rgba(0,0,0,.1) 1px 0 20px;
            img{
                width: 100%;
                height: 237px;
                object-fit: cover;
            }
            .content_area{
                width: 100%;
                height: auto;
                padding: 35px 22px;
                text-align: center;
                h3{
                    font-size: 20px;
                    margin-bottom: 20px;
                }
                p{

                }
            }
        }
        .owl-nav{
            position: absolute;
            width: 100%;
            height: 34px;
            top: 0;
            bottom: 0;
            left: 0;
            margin: auto;
            display: flex;
            padding: 0 40px;
            justify-content: space-between;
        }
    }
}


@media only screen and (max-width: 500px){
    .blog_area_section{
        .main_section{
            padding: 0 30px;
            .owl-nav{
                padding: 0 15px;
            }
        }
        
    }
}