.hero_section{
    width: 100%;
    height: 739px;
    position: relative;
    overflow: hidden;
    .container{
        position: relative;
        z-index: 9;
    }
    img{
        position: absolute;
        top: 0;
        display: block;
        &.bg1{
            left: -196px;
            top: -279px;
            width: 1496px;
        }
        &.bg2{
            right: -43px;
            top: -102px;
            width: 1252px;
        }
    }
    .banner_avator_back{
        width: 602px;
        height: 499px;
        position: relative;
        .banner-avator{
            position: relative;
            top: 0;
            left: -125px;
        }
        .banner-avator2{
            position: absolute;
            bottom: -8px;
            left: -140px;
            top: auto;
        }
    }
    
    .banner_content_area{
        padding-left: 62px;
        h1{
            color: var(--white-color);
            font-size: 60px;
            line-height: 75px;
            text-transform: uppercase;
            strong{
                font-family: var(--heavy-font);
                font-size: 64px;
            }
        }
        p{
            color: var(--white-color);
            font-family: var(--midium-font);
            font-size: 18px;
        }
    }
}

@media only screen and (max-width:1919px){
    .hero_section {
        img{
            &.bg1{
                width: 1413px;
            }
            &.bg2{
                right: -207px;
            }
        }
    }
}





@media only screen and (max-width:1599px){
    .hero_section {
        img{
            &.bg2{
                right: -309px;                
                width: 1293px;
            }
            &.bg1{
                left: -399px;
                width: 1526px;
            }
        }
        .banner_avator_back{
            .banner-avator{
                width: 542px;
            }
            .banner-avator2{
                bottom: 16px;
                left: -161px;
            }
        }
    }
}

@media only screen and (max-width:1479px){
    .hero_section {
        img{
            &.bg1{
                width: 1503px;
            }
            
        }
    }
}

@media only screen and (max-width:1400px){
    .hero_section {
        img{
            &.bg1{
                width: 1456px;
            }
            &.bg2{
                width: 1240px;
            }
        }
    }
}

@media only screen and (max-width:1365px){
    .hero_section {
        img{
            &.bg1{
                width: 1403px;
            }
            &.bg2{
                width: 1196px;
            }
        }
    }
}

@media only screen and (max-width:1279px){
    .hero_section {
        img{
            &.bg2{
                right: -480px;
                
            }
            &.bg1{
                left: -686px;
                top: -358px;
                width: 1588px;
            }
        }
        .banner_avator_back{
            width: 340px;
            height: 434px;
            .banner-avator{
                width: 442px;
                left: -108px;
            }
            .banner-avator2{
                bottom: 23px;
                left: -146px;
                width: 258px;
            }
        }
        .banner_content_area {
            padding-left: 155px;
            h1{
                font-size: 44px;
                line-height: 60px;
                strong{
                    font-size: 48px;
                }
            }
        }
    }
}

@media only screen and (max-width:991px){
    .hero_section{
        background-color: var(--primary-color);
        height: auto;
        padding: 100px 0;
        text-align: center;
        img{
            &.bg1{
                display: none;
            }
            &.bg2{
                display: none;
            }
        }
        .banner_avator_back {
            display: none;
           
        }
        .banner_content_area{
            width: 100%;
            padding: 0;
        }
    }
}

@media only screen and (max-width:430px){
    .hero_section {
        .banner_content_area{
            h1{
                font-size: 30px;
                line-height: 44px;
                strong{
                    font-size: 34px;
                }
            }
        }
    }
}